 /* Navbar.css */

.navbarComponent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #BDD6FF;
    color: #3368c0;
    font-family: Arial, sans-serif;
    /* border: 2px solid red; */
  }
  @media (max-width:272px) {
    .navbarComponent{
        /* border:2px solid green; */
        gap:10px;
        justify-content: space-between;
    }
  }
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navLinks {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
  
  .navLink {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .navLink.active {
    color: #3368c0;
    font-weight: bold;
    border-bottom: 2px solid white;
  }
  
  .navLink:hover {
    color: #3368c0;
  }
  
  .loginButton {
    color: #fff;
    background-color: #3368c0;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .loginButton:hover {
    background-color: #1966e3;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
    
    .navLinks {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      background-color: #BDD6FF;
      width: 100%;
      padding: 1rem 0;
      text-align: center;
    }
    
    .navLinks.open {
      display: flex;
      /* border:2px solid red; */
      margin: 2rem 0;
    }
  }
  