.loginBackground {
    height: 300px;
    border:2px solid red;
    width: 330px;  
    max-width: 400px; 
    background-image: url("../../assets/login_background.png");
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;  
    z-index: -1;
    margin: 0 auto;  
    margin-bottom: 2rem;
}

/* Media Query for Smaller Screens (e.g., mobile) */
@media (max-width: 768px) {
    .loginBackground {
        height: 250px; /* Reduce height for smaller screens */
        max-width: 300px; /* Adjust width for smaller viewports */
        background-position: center; /* Maintain centered alignment */
    }
}

/* Media Query for Extra Small Screens (e.g., very narrow devices) */
@media (max-width: 380px) {
    .loginBackground {
        height: 300px; 
        max-width: 240px;
    }
}
