 .profileImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
 }
   
  @media (max-width:320px) {
   #emailLink,#githbLink{
      font-size: 15px;
      font-weight: 600;
   }
  }
  @media  (max-width:240px) {
   #emailLink,#githubLink{
      font-size: 12px;
      font-weight: 600;
   }
  }